.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}



/*css for page about*/

main {
    max-width: 900px;
    width: 90%;
    margin: 5rem auto 8rem;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}
.list {
    list-style: none;
    padding: 0;
}
.list li {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.list li:hover {
    transform: scale(1.01);
    background: rgba(13,144,253, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

h2.date {
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.profile-card {
    display: flex;
    align-items: center;
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    gap: 1rem;
}

.profile-card:hover {
    transform: scale(1.02);
    box-shadow: 0 5px rgba(0, 0, 0,0.15);
}

/* Team Leader Highlight */
.leader {
    border-left: 5px solid black;
    background-color: rgba(13, 114, 253, 0.1);
}


.profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px; /* Square on desktop */
    margin-right: 20px;
}


.profile-details {
    flex: 1;
}

.name {
    font-size: 1.3rem;
    color: black;
    margin: 0;
    font-weight: bold;
}

.position {
    font-size: 1rem;
    font-weight: bold;
    color: gray;
}

.role {
    font-size: 0.95rem;
    color: lightgray;
}

.email a {
    font-size: 0.9rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.email a:hover {
    text-decoration: underline;
    color: var(--primary-hover);
}

p {
    font-size: 1rem;
    line-height: 1.6;
    color: lightgray;
}



@media (max-width: 768px) {
    .profile-card {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    .profile-pic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto 10px;
    }
    main{
        margin-top: 4rem;
        background: var(--bg-color);
        padding: 0;
    }
}