body{
    margin:0;
    padding:0;
    font-family: system-ui;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.GameTitle{
    font-size: 60px;
    margin: 40px 0 60px;
    background: linear-gradient(90deg, #ff00ff, #00ffff, #ffcc00, #ff00ff);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 4s infinite linear;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    flex-grow: 1;
}
button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #1e3c72;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

button:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0f2848;
    padding: 20px;
    text-align: left;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.contact {
    max-width: 400px;
    margin-left: 20px;
    color: #cdd8e6;
}

.contact p {
    margin: 6px 0;
    line-height: 1.5;
}



